@font-face {
    font-family: 'Geist';
    src: url('../assets/fonts/Geist-Black.woff2') format('woff2');
    font-weight: 900; // Black
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Geist';
    src: url('../assets/fonts/Geist-Bold.woff2') format('woff2');
    font-weight: bold; // Bold
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Geist';
    src: url('../assets/fonts/Geist-Light.woff2') format('woff2');
    font-weight: 300; // Light
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Geist';
    src: url('../assets/fonts/Geist-Medium.woff2') format('woff2');
    font-weight: 500; // Medium
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Geist';
    src: url('../assets/fonts/Geist-Regular.woff2') format('woff2');
    font-weight: normal; // Regular
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Geist';
    src: url('../assets/fonts/Geist-SemiBold.woff2') format('woff2');
    font-weight: 600; // SemiBold
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Geist';
    src: url('../assets/fonts/Geist-Thin.woff2') format('woff2');
    font-weight: 100; // Thin
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Geist';
    src: url('../assets/fonts/Geist-UltraBlack.woff2') format('woff2');
    font-weight: 950; // UltraBlack
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Geist';
    src: url('../assets/fonts/Geist-UltraLight.woff2') format('woff2');
    font-weight: 200; // UltraLight
    font-style: normal;
  }
  